*.zip filter=lfs diff=lfs merge=lfs -text
Content/* filter=lfs diff=lfs merge=lfs -text
/Content/GameAssets/BluePrint/Maps filter=lfs diff=lfs merge=lfs -text
/Content/GameAssets/BluePrint/Maps/Game_BuildData.uasset filter=lfs diff=lfs merge=lfs -text
/Content/* filter=lfs diff=lfs merge=lfs -text
Content/GameAssets/* filter=lfs diff=lfs merge=lfs -text
Content/GameAssets/BluePrint/Objects/* filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset filter=lfs diff=lfs merge=lfs -text
Content/GameAssets/BluePrint/Maps/Game_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/GameAssets/Asset/Texture/* filter=lfs diff=lfs merge=lfs -text
Content/GameAssets/BluePrint/Maps/* filter=lfs diff=lfs merge=lfs -text
Content/GameAssets/BluePrint/Objects/BackGround filter=lfs diff=lfs merge=lfs -text
Content/StarterContent/Textures/* filter=lfs diff=lfs merge=lfs -text
